################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NutFile/bin/
/NutFile/obj/
/NutEditor/bin/
/NutEditor/obj/
