################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NutFile/bin/Debug/net6.0/NutFileLibrary.dll
/NutFile/bin/Debug/net6.0/NutFileLibrary.pdb
/NutEditor/bin/Debug/net6.0-windows10.0.17763.0/Microsoft.Windows.SDK.NET.dll
/NutEditor/bin/Debug/net6.0-windows10.0.17763.0/NutEditor.deps.json
/NutEditor/bin/Debug/net6.0-windows10.0.17763.0/NutEditor.dll
/NutEditor/bin/Debug/net6.0-windows10.0.17763.0/NutEditor.exe
/NutEditor/bin/Debug/net6.0-windows10.0.17763.0/NutEditor.pdb
/NutEditor/bin/Debug/net6.0-windows10.0.17763.0/NutFileLibrary.dll
/NutEditor/bin/Debug/net6.0-windows10.0.17763.0/NutFileLibrary.pdb
/NutEditor/bin/Debug/net6.0-windows10.0.17763.0/WinRT.Runtime.dll
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/ref/NutEditor.dll
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/refint/NutEditor.dll
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/App.g.cs
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/App.g.i.cs
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/apphost.exe
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/MainWindow.g.cs
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/MainWindow.g.i.cs
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/NutEditor.AssemblyInfo.cs
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/NutEditor.AssemblyInfoInputs.cache
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/NutEditor.assets.cache
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/NutEditor.csproj.AssemblyReference.cache
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/NutEditor.csproj.BuildWithSkipAnalyzers
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/NutEditor.csproj.CoreCompileInputs.cache
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/NutEditor.csproj.FileListAbsolute.txt
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/NutEditor.csproj.Up2Date
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/NutEditor.designer.runtimeconfig.json
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/NutEditor.dll
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/NutEditor.GeneratedMSBuildEditorConfig.editorconfig
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/NutEditor.genruntimeconfig.cache
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/NutEditor.pdb
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/NutEditor.sourcelink.json
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/NutEditor_0dljd135_wpftmp.AssemblyInfo.cs
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/NutEditor_0dljd135_wpftmp.AssemblyInfoInputs.cache
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/NutEditor_0dljd135_wpftmp.assets.cache
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/NutEditor_0dljd135_wpftmp.csproj.BuildWithSkipAnalyzers
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/NutEditor_0dljd135_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/NutEditor_0dljd135_wpftmp.sourcelink.json
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/NutEditor_kpjtnexz_wpftmp.AssemblyInfo.cs
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/NutEditor_kpjtnexz_wpftmp.AssemblyInfoInputs.cache
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/NutEditor_kpjtnexz_wpftmp.assets.cache
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/NutEditor_kpjtnexz_wpftmp.csproj.BuildWithSkipAnalyzers
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/NutEditor_kpjtnexz_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/NutEditor_kpjtnexz_wpftmp.sourcelink.json
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/NutEditor_MarkupCompile.cache
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/NutEditor_MarkupCompile.i.cache
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/NutEditor_MarkupCompile.i.lref
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/NutEditor_MarkupCompile.lref
/NutEditor/obj/NutEditor.csproj.nuget.dgspec.json
/NutEditor/obj/NutEditor.csproj.nuget.g.props
/NutEditor/obj/project.assets.json
/NutEditor/obj/project.nuget.cache
/NutFile/obj/Debug/net6.0/ref/NutFileLibrary.dll
/NutFile/obj/Debug/net6.0/NutFileLibrary.AssemblyInfo.cs
/NutFile/obj/Debug/net6.0/NutFileLibrary.AssemblyInfoInputs.cache
/NutFile/obj/Debug/net6.0/NutFileLibrary.assets.cache
/NutFile/obj/Debug/net6.0/NutFileLibrary.csproj.AssemblyReference.cache
/NutFile/obj/Debug/net6.0/NutFileLibrary.csproj.BuildWithSkipAnalyzers
/NutFile/obj/Debug/net6.0/NutFileLibrary.csproj.CoreCompileInputs.cache
/NutFile/obj/Debug/net6.0/NutFileLibrary.csproj.FileListAbsolute.txt
/NutFile/obj/Debug/net6.0/NutFileLibrary.dll
/NutFile/obj/Debug/net6.0/NutFileLibrary.GeneratedMSBuildEditorConfig.editorconfig
/NutFile/obj/Debug/net6.0/NutFileLibrary.pdb
/NutFile/obj/Debug/net6.0/NutFileLibrary.sourcelink.json
/NutFile/obj/Debug/net6.0/refint/NutFileLibrary.dll
/NutFile/obj/NutFileLibrary.csproj.nuget.dgspec.json
/NutFile/obj/NutFileLibrary.csproj.nuget.g.props
/NutFile/obj/project.assets.json
/NutFile/obj/project.nuget.cache
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/MainWindow.baml
/NutEditor/obj/Debug/net6.0-windows10.0.17763.0/NutEditor.g.resources
/NutFile/bin/Debug/net6.0/NutFileLibrary.deps.json
/NutEditor/bin/Debug/net6.0-windows10.0.17763.0/NutEditor.runtimeconfig.json
